.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.elem_center {
  margin: auto;
}


html {
  min-height: 100%;
}

.BiggestDiv {
  min-height: 100%;
  position: relative;
}

.spinner_box_block_all {
  height: 40px;
  width: 40px;
  transform: translate(50%,50%);
  position: absolute;
  z-index: 999;

  // способ блокировки элементов без ручной смены css у каждого из них

  left: 47%;
  top: 45%;
}

.nullPage {
  width: 100%;
  height: 100%;
}

.loadingPage {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background-color: #c8c8c8;
  opacity: 0.5;
}

.dropdownRow {
  height: 200px;
}
