//.default {
//  &__large {
//    overflow: hidden;
//
//  }
//}

#parent {
  display: table; // нужно для выравнивания текста по вертикали
}

#child {
  overflow-x: hidden;  // полос прокрутки нет, а работает как со значением scroll
  white-space: nowrap; // для того, чтобы текст не переходил на другую строку сам
  height: 40px;
  width: 170px; // обязательное значение здесь
  //max-height: 40px; // не понимаю, почему это не помогает сохранить размер поля ввода при нажатии enter
  max-width: 170px; // помогает не удлиннятся полю ввода
  //min-height: 40px; // не понимаю, почему это не помогает сохранить ту же высоту блока, даже если весь текст удалён
  //min-width: 170px;

  border-radius: 3px;
  border: 1px solid black;

  display: table-cell!important; // связывает с родительским блоком, объявленным как таблица
  vertical-align: middle;        // и делает текст расположенным вертикально по центру

  //box-shadow: 0 2px 4px rgba(0, 0, 0, .25); //сделать тень внутрь блока
}

#empty {
  color: grey;
}

#fill {
  color: black;
}
