@color-blue: #1976d2; //переменная

.primary-button{
  &__small, &__default, &__large {
    background-color: @color-blue;
    color: white;
    text-align: center;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);

    &:hover {
      background-color: #50a0f1;
    }
  }

  &__small {
    width: 80px;
    height: 32px;
  }

  &__default {
    width: 100px;
    height: 40px;
  }

  &__large {
    width: 125px;
    height: 50px;
  }
}

.disabled-primary-button {
  &__small, &__default, &__large {
    background-color: #50a0f1;
    color: white;
    text-align: center;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  }

  &__small {
    width: 80px;
    height: 32px;
  }

  &__default {
    width: 100px;
    height: 40px;
  }

  &__large {
    width: 125px;
    height: 50px;
  }
}

.spinner-button {
  &__small, &__default, &__large {
    background-color: #abff00;
    color: black;
    text-align: center;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);

    &:hover {
      background-color: #b8ff35;
    }
  }

  &__small {
    width: 85px;
    height: 36px;
    font-size: 9px;
  }

  &__default {
    width: 105px;
    height: 43px;
    font-size: 12px;
  }

  &__large {
    width: 125px;
    height: 50px;
    font-size: 15px;
  }
}

.disabled-spinner-button {
  &__small, &__default, &__large {
    background-color: #b8ff35;
    color: black;
    text-align: center;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  }

  &__small {
    width: 85px;
    height: 36px;
    font-size: 9px;
  }

  &__default {
    width: 105px;
    height: 43px;
    font-size: 12px;
  }

  &__large {
    width: 125px;
    height: 50px;
    font-size: 15px;
  }
}

.loading-spinner-button, .disabled-loading-spinner-button {
  &__small, &__default, &__large {
    background-color: #b8ff35;
    color: gray;
    text-align: center;

    display: flex;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  }

  &__small {
    width: 85px;
    height: 36px;
    font-size: 9px;
  }

  &__default {
    width: 105px;
    height: 43px;
    font-size: 12px;
  }

  &__large {
    width: 125px;
    height: 50px;
    font-size: 15px;
  }
}

.default-button {
  &__small, &__default, &__large {
    background-color: white;
    color: black;
    border: 1px solid gray;
    text-align: center;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);

    &:hover {
      color: @color-blue;
      border: 1px solid @color-blue;
    }
  }

  &__small {
    width: 80px;
    height: 32px;
  }

  &__default {
    width: 100px;
    height: 40px;
  }

  &__large {
    width: 125px;
    height: 50px;
  }
}

.disabled-default-button {
  &__small, &__default, &__large {
    background-color: white;
    color: gray;
    border: 1px solid gray;
    text-align: center;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  }

  &__small {
    width: 80px;
    height: 32px;
  }

  &__default {
    width: 100px;
    height: 40px;
  }

  &__large {
    width: 125px;
    height: 50px;
  }
}

.dashed-button {
  &__small, &__default, &__large {
    background-color: white;
    color: black;
    text-align: center;
    border: 1px dashed gray;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    //& - класс, в котором находишься
    &:hover {
      color: @color-blue;
      border: 1px dashed @color-blue;
    }
  }

  &__small {
    width: 80px;
    height: 32px;
  }

  &__default {
    width: 100px;
    height: 40px;
  }

  &__large {
    width: 125px;
    height: 50px;
  }
}

.disabled-dashed-button {
  &__small, &__default, &__large {
    background-color: white;
    color: gray;
    text-align: center;
    border: 1px dashed gray;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
  }

  &__small {
    width: 80px;
    height: 32px;
  }

  &__default {
    width: 100px;
    height: 40px;
  }

  &__large {
    width: 125px;
    height: 50px;
  }
}

.danger-button {
  &__small, &__default, &__large {
    color: white;
    background-color: #ff0026;
    text-align: center;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);

    &:hover {
      background-color: #ff3554;
    }
  }

  &__small {
    width: 80px;
    height: 32px;
  }

  &__default {
    width: 100px;
    height: 40px;
  }

  &__large {
    width: 125px;
    height: 50px;
  }
}

.disabled-danger-button {
  &__small, &__default, &__large {
    color: white;
    background-color: #ff3554;
    text-align: center;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  }

  &__small {
    width: 80px;
    height: 32px;
  }

  &__default {
    width: 100px;
    height: 40px;
  }

  &__large {
    width: 125px;
    height: 50px;
  }
}

.spinner {
  &__small, &__default, &__large {
    float: left;
  }

  &__small{
    font-size: 2px;
  }

  &__default{
    font-size: 3px;
  }

  &__large{
    font-size: 4px;
  }
}

.spinner_button_box {
  position: relative;

  &__small{
    margin: 8px 3px 0 5px; // лучше устанавливать разные значения для разных размеров кнопок
  }

  &__default{
    margin: 7px 0 0 7px; // лучше устанавливать разные значения для разных размеров кнопок
  }

  &__large{
    margin: 5px 0 0 7px; // лучше устанавливать разные значения для разных размеров кнопок
  }
}

.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p-loading {
  margin: auto 5px;
  //font-size: 80%;  // не работает
}

.p {
  margin: auto;
  //font-size: 7px;  // не работает
}
