<div [class]="className" (click)="load_spinner()">
  <div class="row" style="margin: auto; ">

    <div *ngIf="isSpinner"> <!--class="column"-->
      <app-spinner [spinnerType]="spinnerType" style="font-size: 4px; float: left; margin-right: 10px;"></app-spinner>
    </div>

<!--    <div class="column">-->
      <p>
        <ng-content></ng-content>
      </p>
<!--    </div>-->
  </div>
</div>

<!--<div [class]="className">-->
<!--  <p>-->
<!--    <ng-content></ng-content>-->
<!--  </p>-->
<!--</div>-->

